<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/static/logo/logo.png" as="image">
    <link rel="icon" type="image/png" href="/static/logo/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    {%if theme == "dark"%}
        <link rel="preload" href="{{ url_for('static',filename='css/dark_theme.css') }}" as="style">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dark_theme.css') }}">
    {% else %}
        <link rel="preload" href="{{ url_for('static',filename='css/light_theme.css') }}" as="style">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/light_theme.css') }}">
    {% endif %}

    <title>WeatherWEB</title>
</head>
{% block content %}
{% endblock %}
</html>