{% extends "base.html" %}

{% block content %}
<body class="body_dashboard">
    <!-- searchbar/header -->
    <header class="header">
        <h1>Weather<span class="highlight">WEB</span></h1>
        <div class="search-container">
            <form action="{{ url_for('dashboard_redirect') }}" method="POST">
                <input type="text" id="city" name="city" placeholder="Enter a city" value="{{ city }}" required>
                <button id="search" name="test" class="button_search" type="submit">Search</button>
            </form>
        </div>
    </header>

    <!-- Hidden Checkbox to control sidebar toggle -->
    <input type="checkbox" id="sidebar-toggle" class="sidebar-toggle-checkbox">

    <!-- Sidebar -->
    <div class="custom-sidebar">
        <nav>
            <ul>
                <li><a class="a-sidebar" href="{{url_for('index')}}">🏠 Home</a></li>
                {% if username != "Guest" %}
                    <li><a class="a-sidebar" href="{{url_for('settings')}}">⚙️ Settings</a></li>
                    <li><a class="a-sidebar" href="{{url_for('logout')}}">🔒 Logout</a></li>
                {% else %}
                    <li><a class="a-sidebar" href="{{url_for('logout')}}">🔒 Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Sidebar Toggle Button (Hamburger Icon) -->
    <label for="sidebar-toggle" class="sidebar-toggle-label">
        &#9776; <!-- Hamburger Icon -->
    </label>

    <!-- error message-->
    <p class="errorMsg">{{error}}</p>

    <main class="main-content">
        <!-- weekdays -->
        <section class="weekdays">
            <form action="{{ url_for('dashboardforecast', city=city, day=0) }}" method="get">
                <button class="weekday-card">Today</button>
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=1) }}" method="get">
                <button class="weekday-card">Tommorrow</button>
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=2) }}" method="get">
                <button class="weekday-card">{{day[2]}}</button>
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=3) }}" method="get">
                <button class="weekday-card">{{day[3]}}</button>
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=4) }}" method="get">
                <button class="weekday-card">{{day[4]}}</button>
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=5) }}" method="get">
                <button class="weekday-card">{{day[5]}}</button>
            </form>
        </section>

        <!-- weathercard/weathercards -->
        <section class="weather-card">
            <div class="weather-header">
                <p class="city-info">{{ weatherData["name"] }}, {{ weatherData["country"] }} - {{weatherData["time"]}} Uhr</p>
                <p class="date">{{weatherData["date"]}}</p>
            </div>
            <div class="weather-main">
                <div class="temperature">
                    <p class="temp-value">{{ weatherData["temp"] }}°C</p>
                    <p class="feels-like">Feels like: {{ weatherData["feels_like"] }}°C</p>
                    <p class="weather-description">{{ weatherData["description"] }}</p>
                </div>
                <!-- ONLINE ICONS -->
                <!-- 
                <div class="weather-icon">
                    <img src="https://openweathermap.org/img/w/{{ weatherData["icon"] }}.png" alt="current weather icon">
                </div>
                -->

                <!-- LOCAL ICONS -->
                <div class="weather-icon">
                    <img src="/static/icons/{{weatherData["icon"]}}.png" alt="current weather info">
                </div>
            </div>
            <!--
            <div class="weather-footer">
                <p class="warningText"><strong>Warnung:</strong> FROST!</p>
                <a href="#" class="info-link">Mehr Infos!</a>
            </div>
            -->
            {% if username != "Guest" %}
                <form action="{{url_for('addordeletecity', city=weatherData["name"], redirect_to="dashboard")}}" method="POST">
                    <button type="submit" class="favorite-btn">
                        -
                    </button>
                </form>
            {% endif %}
            <input type="hidden" name="city" value="{{ city }}">
        </section>
        <hr>

        <div class="row">
        {% for weather in weatherDataForecast %}
            <!-- weathercard small/weathercards small -->
            <section class="weather-card-small">
                <div class="weather-main-small">
                    <div class="temperature">
                        <!-- <p class="date-small">{{weather["time"]}} Uhr</p> -->
                        <p class="temp-value-small">{{ weather["temp"] }}°C</p>
                        <p class="feels-like-small">Feels like: {{ weather["feels_like"] }}°C</p>
                        <p class="weather-description-small">{{ weather["description"] }}</p>
                    </div>
                    <!-- ONLINE ICONS -->
                    <!-- 
                    <div class="weather-icon">
                        <img src="https://openweathermap.org/img/w/{{ weatherData["icon"] }}.png" alt="current weather icon">
                    </div>
                    -->

                    <!-- LOCAL ICONS -->
                    <div class="weather-icon-small">
                        <img src="/static/icons/{{ weather["icon"] }}.png" alt="current weather info">
                    </div>
                </div>
                <p class="date-small">{{weather["date"]}}</p>
                <div class="weather-footer">
                    <a href="{{ url_for('dashboardforecast', city=city, day=weather["day"]) }}" class="info-link">More..</a>
                </div>
            </section>
        {% endfor %}
        </div>
    </main>

    <section class="weather-info">
        <h2 style="text-align:center; font-size: 40px;">Weather Maps</h2>
        <div class="map-container">
            {% for map in weather_maps %}
            <div class="map-box">
                <h3>{{ map.title }}</h3>
                <iframe src="{{ map.url }}"></iframe>
            </div>
            {% endfor %}
        </div>
        <div style="padding:20px;"></div>
    </section>

    <!-- logout/footer -->
    <footer class="footer">
        {% if username != "Guest" %}
            <a href="{{url_for('logout')}}" class="logout-link">Logout here</a>
        {% else %}
            <a href="{{url_for('logout')}}" class="logout-link">Login here</a>
        {% endif %}
    </footer>
</body>
{% endblock %}
