{% extends "base.html" %}

{% block content %}
<body class="body_dashboard">
    <!-- searchbar/header -->
    <header class="header">
        <h1>Weather<span class="highlight">WEB</span></h1>
        <div class="search-container">
            <form action="{{url_for("dashboard_redirect")}}" method="POST">
                <input type="text" id="city" name="city" placeholder="Enter a city" value="{{ city }}" required>
                <button id="search" name="test" class="button_search" type="submit">Search</button>
            </form>
        </div>
    </header>

    <main class="main-content">
        <!-- error message-->
        <p class="errorMsg">{{error}}</p>

        <!-- weekdays -->
        <section class="weekdays">
            <form action="{{ url_for('dashboardforecast', city=city, day=0) }}" method="get">
                {% if button_pressed == "0" %}
                    <button style="text-decoration: underline;" class="weekday-card">Today</button>
                {% else %}
                    <button class="weekday-card">Today</button>
                {% endif %}
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=1) }}" method="get">
                {% if button_pressed == "1" %}
                    <button style="text-decoration: underline;" class="weekday-card">Tommorrow</button>
                {% else %}
                    <button class="weekday-card">Tommorrow</button>
                {% endif %}
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=2) }}" method="get">
                {% if button_pressed == "2" %}
                    <button style="text-decoration: underline;" class="weekday-card">{{day[2]}}</button>
                {% else %}
                    <button class="weekday-card">{{day[2]}}</button>
                {% endif %}
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=3) }}" method="get">
                {% if button_pressed == "3" %}
                    <button style="text-decoration: underline;" class="weekday-card">{{day[3]}}</button>
                {% else %}
                    <button class="weekday-card">{{day[3]}}</button>
                {% endif %}
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=4) }}" method="get">
                {% if button_pressed == "4" %}
                    <button style="text-decoration: underline;" class="weekday-card">{{day[4]}}</button>
                {% else %}
                    <button class="weekday-card">{{day[4]}}</button>
                {% endif %}
            </form>
            <form action="{{ url_for('dashboardforecast', city=city, day=5) }}" method="get">
                {% if button_pressed == "5" %}
                    <button style="text-decoration: underline;" class="weekday-card">{{day[5]}}</button>
                {% else %}
                    <button class="weekday-card">{{day[5]}}</button>
                {% endif %}
            </form>
        </section>

        {% if is_today %}
            <!-- weathercard/weathercards -->
            <section class="weather-card">
                <div class="weather-header">
                    <p class="city-info">{{ weatherDataToday["name"] }}, {{ weatherDataToday["country"] }} - {{weatherDataToday["time"]}} Uhr</p>
                    <p class="date">{{weatherDataToday["date"]}}</p>
                </div>
                <div class="weather-main">
                    <div class="temperature">
                        <p class="temp-value">{{ weatherDataToday["temp"] }}°</p>
                        <p class="weather-description">{{ weatherDataToday["description"] }}</p>
                        <p class="feels-like">Feels like: {{ weatherDataToday["feels_like"] }}°</p>
                    </div>
                    <!-- ONLINE ICONS -->
                    <!--
                    <div class="weather-icon">
                        <img src="https://openweathermap.org/img/w/{{ weatherDataToday["icon"] }}.png" alt="current weather icon">
                    </div>
                    -->

                    <!-- LOCAL ICONS -->
                    <div class="weather-icon">
                        <img src="/static/icons/{{weatherDataToday["icon"]}}.png" alt="current weather icon">
                    </div>
                </div>
                <!--
                <div class="weather-footer">
                    <p class="warningText"><strong>Warnung:</strong> FROST!</p>
                    <a href="#" class="info-link">Mehr Infos!</a>
                </div>
                -->
            </section>
            <hr>
        {% endif %}

        <!-- weathercard/weathercards -->
        {% for weather in weatherData %}
            <section class="weather-card">
                <div class="weather-header">
                    <p class="city-info">{{ weather["name"] }}, {{ weather["country"] }} - {{weather["time"]}} Uhr</p>
                    <p class="date">{{weather["date"]}}</p>
                </div>
                <div class="weather-main">
                    <div class="temperature">
                        <p class="temp-value">{{ weather["temp"] }}°</p>
                        <p class="weather-description">{{ weather["description"] }}</p>
                        <p class="feels-like">Feels like: {{ weather["feels_like"] }}°</p>
                    </div>
                    <!-- ONLINE ICONS -->
                    <!--
                    <div class="weather-icon">
                        <img src="https://openweathermap.org/img/w/{{ weather["icon"] }}.png" alt="current weather icon">
                    </div>
                    -->

                    <!-- LOCAL ICONS -->
                    <div class="weather-icon">
                        <img src="/static/icons/{{weather["icon"]}}.png" alt="current weather icon">
                    </div>
                </div>
                <!--
                <div class="weather-footer">
                    <p class="warningText"><strong>Warnung:</strong> FROST!</p>
                    <a href="#" class="info-link">Mehr Infos!</a>
                </div>
                -->
            </section>
            <hr>
        {% endfor %}
    </main>

    <!-- logout/footer -->
    <footer class="footer">
        <a href="{{url_for('logout')}}" class="logout-link">Logout here</a>
    </footer>
</body>
{% endblock %}
