{% extends "base.html" %}

{% block content %}
<body class="body_dashboard">
    <div class="div_header">
        <div>
            <p id="title_dashboard">WeatherWEB</p>
        </div>
        <div class="row">
            <div style="padding-right: 15px;">
                <input type="text" id="city" name="city"
                   placeholder="Enter a city" required>
            </div>
            <div>
                <button id="search" class="button_search" type="submit">Search</button>
            </div>
        </div>
    </div>
    <hr>
    <div id="weekdays-table">
        <button class="button_row">Heute</button>
        <button class="button_row">Morgen</button>
        <button class="button_row">Übermorgen</button>
        <button class="button_row">Dienstag</button>
        <button class="button_row">Mittwoch</button>
        <button class="button_row">Donnerstag</button>
        <button class="button_row">Freitag</button>
        <button class="button_row">Settings</button>
    </div>
    <hr>
    <div class="weather-card">
        <div class="weather-header">
            <div id="city_name" class="row space-between">
                <div>
                    <p>Bad Nauheim, DE - 20:00 Uhr</p>
                </div>
                <div>
                    <p>30.11.2024</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row space-between">
            <div id="weather_info" class="column">
                <div style="font-size: 48px;">
                <p class="text_no_margin">30°C</p>
                </div>
                <div>
                    <p class="text_no_margin">Mostly Cloudy</p>
                    <p class="text_no_margin" style="font-size: 17px;">Feels like: 28°C</p>
                </div>
            </div>
            <div id="weather_icon">
                <img src="https://openweathermap.org/img/wn/10n@2x.png" alt="current weather icon" style="width:120%;">
            </div>
        </div>
        <hr>
        <div class="weather-footer">
            <div class="row space-between">
                <div>
                    Warnung: FROST!
                </div>
                <div>
                    Mehr infos!
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a href="{{url_for('logout')}}" style="color:#3391ff; display: flex; justify-content: end;">logout here</a>
</body>
{% endblock %}