/*test.css - LIGHT MODE*/

/*Variables  #181616 #2a2626 #222020*/
:root {
    --primary-body-color: #878787;
    --secondary-body-color: #343434;
    --primary-text-color: #fff;
    --secondary-text-color: #ccc;
    --primary-card-color: #3a3a3a;
    --primary-label-color: #aaa;
    --primary-button-text-color: #fff;
    --primary-button-background-color: #219ace;
    --primary-button-background-hover-color: #0a7aaa;
    --secondary-button-background-color: #ffcc00;
    --secondary-button-background-hover-color: #e6a500;
    --primary-input-background-color: #333;
    --primary-hamburger-color: #f5f5f5;
    --primary-link-color: #66b2ff;
    --secondary-link-color: #80d0ff;
    --primary-error-color: #ef5350;
    --secondary-error-color: #c62828;
    --primary-star-color: gold;
}


/* Allgemeine Einstellungen */
.body_dashboard {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--primary-body-color);
    color: var(--primary-text-color);
}

h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    color: var(--primary-button-text-color);
}

.account-text {
    color: var(--primary-text-color);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.link {
    text-decoration: none;
    color: var(--primary-link-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--secondary-link-color);
    text-decoration: underline;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ? */
.highlight {
    color: var(--secondary-button-background-color);
}
/* ? */

/* Header */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.header {
    text-align: center;
    padding: 20px;
    background: var(--primary-button-background-color);
    color: var(--secondary-text-color);
    border-bottom: 4px solid var(--primary-button-background-hover-color);
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.search-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.geolocation-button {
    background: var(--secondary-button-background-color);
    border: 2px solid var(--primary-text-color);
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.geolocation-button:hover {
    background: var(--secondary-button-background-hover-color);
    transform: scale(1.02);
}

.geo {
    width: 28px;
    height: auto;
    padding-top: 7px;
}

#city {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid var(--primary-text-color);
    width: 40vw;
    max-width: 500px;
    min-width: 250px;
    background: var(--primary-input-background-color);
    color: var(--primary-text-color);
    transition: border 0.3s ease, width 0.3s ease;
    box-sizing: border-box;
}

#city:focus {
    border-color: var(--primary-text-color);
    outline: none;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}


.button_search {
    padding: 12px 20px;
    font-size: 16px;
    background: var(--secondary-button-background-color);
    border: 2px solid var(--primary-text-color);
    color: var(--primary-button-text-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.button_search:hover {
    background: var(--secondary-button-background-hover-color);
    border: 2px solid var(--primary-text-color);
    transform: scale(1.02);
}

.main-content {
    padding: 20px;
}

.weekdays {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.weekday-card {
    flex: 1;
    max-width: 200px;
    min-width: 100px;
    padding: 15px;
    background: var(--primary-button-background-color);
    border: 2px solid var(--primary-text-color);
    color: var(--primary-button-text-color);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.1s ease;
}

.weekday-card:hover {
    background: var(--primary-button-background-hover-color);
    border-color: var(--primary-text-color);
    transform: scale(1.05);
}

.weekday-card-clicked {
    text-decoration: underline;
    transform: scale(1.1);
    background-color: var(--primary-button-background-hover-color);
}

.weather-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.weather-card {
    position: relative;
    background: var(--primary-card-color);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--primary-button-background-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 700px;
    max-width: 800px;
    margin: 20px auto;
}

.weather-card-small {
    width: 1000px;
    background: var(--primary-card-color);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--primary-button-background-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    max-width: 100px;
    margin: 10px auto;
}

.weather-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

.city-info {
    font-size: 20px;
    font-weight: bold;
}

.date {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.date-small {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-text-color);
    justify-self: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 5px;
}

.index-row {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 0px;
}

.weather-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
	color: var(--primary-text-color);
}

.weather-main-small {
    display: flex;
    flex-direction: column;
    align-items: center;
	color: var(--primary-text-color);
}

.temperature {
    text-align: left;
}

.temp-value {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-text-color);
}

.temp-value-small {
    font-size: 30px;
    font-weight: bold;
    justify-self: center;
    margin: 0;
    color: var(--primary-text-color);
}

.weather-description,
.feels-like {
    font-size: 14px;
    margin: 5px 0;
    font-weight: bold;
}

.weather-description-small,
.feels-like-small {
    font-size: 12px;
    margin: 5px 0;
    font-weight: bold;
    justify-self: left;
}

.weather-icon img {
    width: 120px;
    height: 120px;
}

.weather-icon-small img {
    width: 60px;
    height: 60px;
}

.weather-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 10px;
    color: var(--secondary-text-color);
}

hr {
    color: var(--secondary-text-color);
}

.info-link {
    color: var(--primary-link-color);
    text-decoration: none;
    align-content: end;
}

.info-link:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding: 10px;
    background: var(--primary-button-background-color);
    color: var(--secondary-text-color);
    position: fixed;
    bottom: 0;
    min-width: -webkit-fill-available;
    font-weight: bold;
    border-top: 3px solid var(--primary-button-background-hover-color);
}

.logout-link {
    color: var(--primary-button-text-color);
    text-decoration: none;
}

.logout-link:hover {
    text-decoration: underline;
}

/*LOGIN/REGISTER*/
.body_login_register {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: var(--primary-body-color);
    flex-direction: column;
    margin: 0;
}

.label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: var(--primary-text-color);
    font-weight: bold;
}

.input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--primary-label-color);
    border-radius: 5px;
    background: var(--primary-input-background-color);
    color: var(--primary-text-color);
    font-size: 16px;
    transition: border 0.3s ease;
}

.input:focus {
    border: 2px solid var(--primary-text-color); /* maybe */
    outline: none;
}

.main_login {
    background: var(--primary-card-color);
    border-radius: 15px;
    border: 2px solid var(--primary-button-background-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    width: 450px;
    text-align: center;
}

#btn_submit {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid var(--primary-text-color);
    color: var(--primary-button-text-color);
    cursor: pointer;
    background-color:var(--primary-button-background-color);
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#btn_submit:hover {
    background: var(--primary-button-background-hover-color);
    transform: scale(1.02);
}

.warningText {
    margin-bottom: auto;
    color: var(--secondary-error-color);
}

.errorMsg {
    color: var(--primary-error-color);
    text-align: center;
    font-weight: bold;
}

/* STOP */

/* Container für alle Maps */
.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Einzelne Karten für Maps */
.map-box {
    background: var(--primary-card-color);
    border: 2px solid var(--primary-button-background-color);
    color: var(--secondary-body-color);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px var(--primary-text-color);
    width: 100%;
    max-width: 800px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.map-box:hover {
    transform: translateY(-5px);
    transform: scale(1.02); 
    box-shadow: 0 8px 20px var(--primary-text-color);
    h3{
        color: var(--secondary-button-background-hover-color);
    }
}

/* Karten-Titel */
.map-box h3 {
    font-size: 1.2em;
    color: var(--secondary-button-background-color);
}

/* Iframes für Maps */
.map-box iframe {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    border: 2px solid var(--primary-button-background-color);
}

/* SETTINGS */

.settings-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: var(--secondary-body-color);
    border-radius: 10px;
}

.settings-container label {
    display: block;
    margin-top: 10px;
}

.settings-container select, .settings-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-text-color);
}

.settings-container button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: var(--primary-button-background-color);
    color: var(--primary-button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.settings-container button:hover {
    background: var(--primary-button-background-hover-color);
}

.row-settings {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.row-settings label {
    flex: 1;
}

.row-settings input[type="checkbox"] {
    width: 20px;
    cursor: pointer;
}

/* FAVORITEN-BUTTON */
.favorite-btn {
    position: absolute;
    bottom: 5px;
    left: 13px;
    background: transparent;
    border: none;
    font-size: 45px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.favorite-btn:hover {
    transform: scale(1.2);
}

/* Sidebar */

.a-sidebar {
    padding-left: 5px;
    color: var(--secondary-link-color);
}

.custom-sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--secondary-body-color);
    border-right: 3px solid var(--primary-button-background-hover-color);
    color: var(--primary-button-text-color);
    transition: left 0.6s ease;
    padding-top: 60px;
    z-index: 1000;
}

#sidebar-toggle:checked ~ .custom-sidebar {
    left: 0;
}

#sidebar-toggle:checked ~ .sidebar-toggle-label {
    position: fixed;
}

.custom-sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.custom-sidebar nav ul li {
    text-align: left;
    padding: 15px;
    transition: background 0.3s ease;
    color: var(--primary-text-color);
}

.custom-sidebar nav ul li a {
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.custom-sidebar nav ul li:hover {
    background-color: var(--primary-button-background-color);
}

/* Sidebar Toggle Button */
.sidebar-toggle-label {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: var(--primary-hamburger-color);
    cursor: pointer;
    z-index: 1100;
}

.sidebar-toggle-checkbox {
    display: none;
}

/* Stern */

.favorite-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--primary-star-color);
    cursor: pointer;
    padding-bottom: 10px;
    transition: transform 0.2s ease;
}

.favorite-btn:hover {
    transform: scale(1.2);
}
