/*test.css - LIGHT MODE*/

/*Variables*/
:root {
    --primary-body-color: #e0e0e0;
    --secondary-body-color: #f0f0f0;
    --primary-text-color: #222;
    --secondary-text-color: #fff;
    --primary-card-color: #ffffff;
    --primary-label-color: #555;
    --primary-button-text-color: #fff;
    --primary-button-background-color: #4CAF50;
    --primary-button-background-hover-color: #388E3C;
    --secondary-button-background-color: #ffcc00;
    --secondary-button-background-hover-color: #e6a500;
    --primary-link-color: #0073e6;
    --primary-error-color: #d32f2f;
    --secondary-error-color: #b71c1c;
}


/* Allgemeine Einstellungen */
.body_dashboard {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--primary-body-color);
    color: var(--primary-text-color);
}

h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.link {
    text-decoration: none;
    color: var(--primary-link-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.link:hover {
    color: darkblue;
    text-decoration: underline;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ? */
.highlight {
    color: var(--secondary-button-background-color);
}
/* ? */

/* Header */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.header {
    text-align: center;
    padding: 20px;
    background: var(--primary-button-background-color);
    color: var(--secondary-text-color);
    border-bottom: 3px solid var(--primary-button-background-hover-color);
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.search-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#city {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid var(--primary-text-color);
    width: 40vw; /* Takes 40% of the viewport width */
    max-width: 500px; /* Ensures it doesn't get too large */
    min-width: 250px; /* Prevents it from becoming too small */
    background: var(--secondary-text-color);
    color: var(--primary-text-color);
    transition: border 0.3s ease, width 0.3s ease; /* Smooth resizing */
    box-sizing: border-box;
}

#city:focus {
    border-color: var(--primary-text-color);
    outline: none;
}

/* Ensure the search container is properly aligned */
.search-container {
    display: flex;
    justify-content: center; /* Centers the input */
    width: 100%;
    margin: 0 auto;
}


.button_search {
    padding: 12px 20px;
    font-size: 16px;
    background: var(--secondary-button-background-color);
    border: 2px solid var(--primary-text-color); /* maybe */
    color: var(--secondary-text-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.button_search:hover {
    background: var(--secondary-button-background-hover-color);
    border: 2px solid var(--primary-text-color); /* maybe */
    transform: scale(1.02);
}

/* ? */
.main-content {
    padding: 20px;
}
/* ? */

.weekdays {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.weekday-card {
    flex: 1;
    max-width: 200px;
    min-width: 100px;
    padding: 15px;
    background: var(--primary-button-background-color);
    border: 2px solid var(--primary-text-color);
    color: var(--secondary-text-color);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.1s ease;
}

.weekday-card:hover {
    background: var(--primary-button-background-hover-color);
    border-color: var(--primary-text-color);
    transform: scale(1.05);
}


.weather-card {
    background: var(--primary-card-color);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--primary-button-background-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    max-width: 800px;
    margin: 20px auto;
}

.weather-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.city-info {
    font-size: 20px;
    font-weight: bold;
}

/* ? */
.date {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-text-color);
}
/* ? */

.weather-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
	color: var(--primary-text-color);
}

/* ? */
.temperature {
    text-align: left;
}
/* ? */

.temp-value {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-text-color);
}

.weather-description,
.feels-like {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}

.weather-icon img {
    width: 130px;
    height: 120px;
}

/* ? */
.weather-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--secondary-text-color);
}

hr {
    width: 100%;
    justify-self: center;
}

.info-link {
    color: var(--primary-link-color);
    text-decoration: none;
    align-content: end;
}

.info-link:hover {
    text-decoration: underline;
}
/* ? */

.footer {
    text-align: center;
    padding: 10px;
    background: var(--primary-button-background-color);
    color: var(--secondary-text-color);
    position: fixed;
    bottom: 0;
    min-width: -webkit-fill-available;
    font-weight: bold;
    border-top: 3px solid var(--primary-button-background-hover-color); /* maybe */
}

/* ? */
.logout-link {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.logout-link:hover {
    text-decoration: underline;
}
/* ? */

/*LOGIN/REGISTER*/
.body_login_register {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: var(--primary-body-color); /* maybe */
    flex-direction: column;
    margin: 0;
}

/* ? */
.label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: var(--secondary-text-color);
    font-weight: bold;
}
/* ? */

.input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--primary-label-color);
    border-radius: 5px;
    background: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-size: 16px;
    transition: border 0.3s ease;
}

.input:focus {
    border: 2px solid var(--primary-text-color); /* maybe */
    outline: none;
}

.main_login {
    background: var(--primary-card-color);
    border-radius: 15px;
    border: 2px solid var(--primary-button-background-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    width: 450px;
    text-align: center;
}

#btn_submit {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid var(--primary-text-color); /* maybe */
    color: var(--secondary-text-color);
    cursor: pointer;
    background-color:var(--primary-button-background-color);
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#btn_submit:hover {
    background: var(--primary-button-background-hover-color);
    transform: scale(1.02);
}

.warningText {
    margin-bottom: auto;
    color: var(--secondary-error-color);
}

.errorMsg {
    color: var(--primary-error-color);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
}

/* STOP */

/* Container für alle Maps */
.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Einzelne Karten für Maps */
.map-box {
    background: var(--primary-card-color);
    border: 2px solid var(--primary-button-background-color);
    color: var(--secondary-body-color);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px var(--primary-text-color);
    width: 100%;
    max-width: 800px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.map-box:hover {
    transform: translateY(-5px);
    transform: scale(1.02); 
    box-shadow: 0 8px 20px var(--primary-text-color);
    h3{
        color: var(--secondary-button-background-hover-color);
    }
}

/* Karten-Titel */
.map-box h3 {
    font-size: 1.2em;
    color: var(--secondary-button-background-color);
}

/* Iframes für Maps */
.map-box iframe {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    border: 2px solid var(--primary-button-background-color);
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a-sidebar {
    padding-left: 5px;
}

.custom-sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--primary-button-text-color);
    border-right: 3px solid var(--primary-button-background-hover-color);
    color: var(--primary-button-text-color);
    transition: left 0.6s ease;
    padding-top: 60px;
}

#sidebar-toggle:checked ~ .custom-sidebar {
    left: 0;
}

#sidebar-toggle:checked ~ .sidebar-toggle-label {
    position: fixed;
}

.custom-sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.custom-sidebar nav ul li {
    text-align: left;
    padding: 15px;
    transition: background 0.3s ease;
    color: var(--primary-text-color);
}

.custom-sidebar nav ul li a {
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.custom-sidebar nav ul li:hover {
    background-color: var(--primary-button-background-color);
}

/* Sidebar Toggle Button */
.sidebar-toggle-label {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
    cursor: pointer;
    z-index: 10;
}

.sidebar-toggle-checkbox {
    display: none; /* Hide the checkbox itself */
}